<div *ngIf="comments">
  <h6>Comment</h6>
  <div *ngFor="let comment of comments">{{ comment }}</div>
</div>

<div class="input-group mb-3 mt-3">
  <textarea
    class="form-control"
    placeholder="Leave a comment here..."
    #newItem
    (keydown.enter)="addNewItem(newItem.value); newItem.value = ''"
  ></textarea>
  <div class="input-group-append d-flex">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="addNewItem(newItem.value); newItem.value = ''"
    >
      Comment
    </button>
  </div>
</div>
